/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 10px;
  box-sizing: border-box;
}
body {
  color: #525575;
  background-color: #F9FAFB;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 2%;
}
h1 {
  font-size: 3rem;
  color: #2E2C48;
}
@media (min-width: 550px) {
  h1 {
    font-size: 6.4rem;
  }
}
h2 {
  font-size: 2.4rem;
  color: #2E2C48;
}
@media (min-width: 550px) {
  h2 {
    font-size: 4.8rem;
  }
}
h3 {
  color: #2E2C48;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 160px;
}
header div logo {
  font-size: 4.8rem;
  font-family: 'Montserrat', sans-serif;
  color: #0AC3CF;
}
@media (min-width: 550px) {
  header div logo {
    font-size: 4.8rem;
  }
}
header div p {
  display: none;
}
@media (min-width: 550px) {
  header div p {
    display: block;
    color: #2E2C48;
    font-size: 2.4rem;
    font-weight: 600;
  }
}
header .top-nav a {
  display: none;
}
@media (min-width: 550px) {
  header .top-nav a {
    display: block;
    font-size: 2.4rem;
    color: #525575;
    text-decoration: none;
  }
}
@media (min-width: 550px) {
  header .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
  }
}
header .signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
header .signup a {
  font-size: 1.3rem;
  line-height: 1.5;
  color: #525575;
}
header .signup #student-signup {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3rem;
  color: #FFFFFF;
  background-color: #C716C4;
  border-radius: 6px;
  margin: auto;
  height: 30px;
  width: 74px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding-top: 3%;
  box-sizing: border-box;
}
header .signup #helper-signup {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3rem;
  color: #FFFFFF;
  background-color: #2E2C48;
  border-radius: 6px;
  margin: auto;
  height: 24px;
  width: 74px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding-top: 3%;
  box-sizing: border-box;
}
header .signup #about-signup {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3rem;
  color: #FFFFFF;
  background-color: #0AC3CF;
  border-radius: 6px;
  margin: auto;
  height: 24px;
  width: 74px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding-top: 3%;
  box-sizing: border-box;
}
@media (min-width: 550px) {
  header .signup {
    display: none;
  }
}
.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
}
.about-content h1 {
  padding: 20% 0 10% 0;
  font-weight: 600;
}
@media (min-width: 550px) {
  .about-content h1 {
    padding: 10% 0;
  }
}
@media (min-width: 550px) {
  .about-content div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2.5%;
    justify-content: space-around;
  }
}
.about-content div .team-profiles {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-content div .team-profiles img {
  height: auto;
  width: 220px;
  border: 4px #CACED2 solid;
}
@media (min-width: 550px) {
  .about-content div .team-profiles img {
    width: 300px;
  }
}
.about-content div .team-profiles h2 {
  padding: 2% 0;
  font-weight: 600;
}
@media (min-width: 550px) {
  .about-content div .team-profiles h2 {
    font-size: 4rem;
  }
}
.about-content div .team-profiles h3 {
  padding: 2% 0;
  font-size: 1.6rem;
  font-weight: 600;
  color: #0AC3CF;
  text-decoration: underline;
}
@media (min-width: 550px) {
  .about-content div .team-profiles h3 {
    font-size: 2.8rem;
  }
}
.about-content div .team-profiles p {
  font-size: 1.6rem;
  width: 220px;
  text-align: center;
  line-height: 1.3;
  padding: 1% 0 7% 0;
}
@media (min-width: 550px) {
  .about-content div .team-profiles p {
    font-size: 2.4rem;
    width: 300px;
  }
}
@media (min-width: 550px) {
  .about-content {
    margin-bottom: 0;
  }
}
footer {
  border-top: 1px #E0E0E0 solid;
  padding: 20px 0;
}
footer .bottom-nav {
  display: flex;
  flex-direction: column;
}
@media (min-width: 550px) {
  footer .bottom-nav {
    flex-direction: row;
    justify-content: space-around;
  }
}
footer .bottom-nav a {
  font-size: 1.4rem;
  color: #525575;
  margin: 7px 0;
  font-weight: 600;
  text-decoration: none;
}
@media (min-width: 550px) {
  footer .bottom-nav a {
    font-size: 2rem;
  }
}
footer p {
  font-size: 1.2rem;
  margin-top: 10px;
}
@media (min-width: 550px) {
  footer p {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 40px;
  }
}
