/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 10px;
  box-sizing: border-box;
}
body {
  color: #525575;
  background-color: #F9FAFB;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 2%;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.4rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
header logo {
  font-size: 4.8rem;
  font-family: 'Montserrat', sans-serif;
  color: #0AC3CF;
}
header .top-nav a {
  display: none;
}
header .signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
}
header .signup a {
  font-size: 1.3rem;
  line-height: 1.5;
  color: #525575;
}
header .signup #student-signup {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3rem;
  color: #FFFFFF;
  background-color: #C716C4;
  border-radius: 6px;
  margin: auto;
  height: 24px;
  width: 74px;
  text-align: center;
}
header .signup #helper-signup {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3rem;
  color: #FFFFFF;
  background-color: #2E2C48;
  border-radius: 6px;
  margin: auto;
  height: 24px;
  width: 74px;
  text-align: center;
}
header .signup #about-signup {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3rem;
  color: #FFFFFF;
  background-color: #0AC3CF;
  border-radius: 6px;
  margin: auto;
  height: 24px;
  width: 74px;
  text-align: center;
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content .main-text h1 {
  font-weight: 600;
  margin-top: 20%;
}
.main-content .main-text h2 {
  margin: 2.5% 0;
}
.main-content .main-text p {
  font-size: 1.6rem;
  line-height: 1.5;
  width: 70%;
  margin: 7% 0;
}
.main-content .main-text #student-start {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.1rem;
  color: #FFFFFF;
  background-color: #C716C4;
  border-radius: 6px;
  margin: auto;
  height: 40px;
  width: 163px;
  text-align: center;
  font-weight: 600;
}
.main-content .main-text #helper-start {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.1rem;
  color: #2E2C48;
  background-color: #0AC3CF;
  border-radius: 6px;
  margin: auto;
  height: 40px;
  width: 163px;
  text-align: center;
  font-weight: 600;
}
.main-content .main-image {
  margin: 15% 0;
  border: 6px #CACED2 solid;
}
footer {
  border-top: 1px #E0E0E0 solid;
  padding: 20px 0;
}
footer .bottom-nav {
  display: flex;
  flex-direction: column;
}
footer .bottom-nav a {
  font-size: 1.4rem;
  color: #525575;
  margin: 7px 0;
  font-weight: 600;
  text-decoration: none;
}
footer p {
  font-size: 1.2rem;
  margin-top: 10px;
}
