.about-content {
    .flex-tower();

    h1 {
        padding: 20% 0 10% 0;
    }

    div .team-profiles {
            .flex-tower();
            h2 {
                padding: 3% 0;
                font-weight: 600;
            }
            h3 {
                padding: 3% 0;
                font-size: 1.6rem;
            }
        }
    
}