footer {
    border-top: 1px #E0E0E0 solid;
    padding: 20px 0;

    .bottom-nav {
        display: flex;
        flex-direction: column;

        @media @desktop {
            flex-direction: row;
            justify-content: space-around;
        }

        a {
            font-size: 1.4rem;
            color: @main-color;
            margin: 7px 0;
            font-weight: 600;
            text-decoration: none;

            @media @desktop {
                font-size: 2rem;
            }
        }
    }
    
    p {
        font-size: 1.2rem;
        margin-top: 10px;

        @media @desktop {
            font-size: 1.6rem;
            text-align: center;
            margin-top: 40px;
        }
    }
}