header{
    .flex-spread();
    width: 100%;

    logo {
        font-size: 4.8rem;
        font-family: @logo-font;
        color: @logo-color;
    }

    .signup {
        a {
            font-size: 1.3rem;
        }
    }

    .top-nav {
        a {
            display: none;
        }
    }
}