.main-content {
    .flex-tower();
    
    .main-text {
        

        h1 {
            font-weight: 600;
            margin-top: 20%;
        }

        h2 {
            margin: 2.5% 0;
        }

        p {
            font-size: 1.6rem;
            line-height: 1.5;
            width: 70%;
            margin: 7% 0;
        }

        #student-start {
            .button(40px, 163px, @main-font, 2.1rem, #FFFF, #C716C4);
            font-weight: 600;
        }
    }

    .main-image {
        margin: 15% 0;
        border: 6px #CACED2 solid;
    }
}